@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

//! Import base
@import "./base/reset.scss", "./base/variables.scss", "./base/mixin.scss";


body {
    font-family: $mainFontFamily;
    font-size: 14px;
    line-height: normal;
    color: $darkColor;
    font-style: normal;
    font-weight: 700;
}

.container {
    max-width: 940px;
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

//! Import components
@import "./components/header.scss";

//! Import pages
@import "./pages/home.scss"; 