@mixin button($bgColor, $color){
    display:flex ;
            align-items: center;
            justify-content: center;
            background-color: $bgColor;
            color: $color;
            font-weight: 700;
            border-radius: 30px;
            overflow: hidden;
            transition:background-color 0.3s ease 0s, color 0.3s ease 0s ;
            padding: 13px 26px;
            width: 100%;
            &:hover {
                background-color:$color;
                color: $bgColor;
            }
            @media screen and (min-width:400px){
                width: auto;
            }
}