$whiteColor:#fff;
$redColor:#FF4E50;
$darkColor:#333333;
$greyColor:#666666;

$mainFontFamily:'Montserrat' sans-serif ;
$secondaryFontFamily:'Roboto' sans-serif ;

$mobile:320px;
$tablet:768px;
$desktop:1440px;
